
  <div class="header">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('/assets/GoW1.jpg');">
          <div class="row">
            <div class="col-md-5">
              <div class="titolo" style="margin-top:180px;"><h1>Ultime Uscite</h1></div>
            </div>
            <div class="col-md-6">
              <div class="gioco" style="margin-top:13.5vh;">
                <div class="row">
                <!-- Button trigger modal -->
                  <div class="col-sm-3">
                    <button type="button" class="btn" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-color:#112233;">
                      <div class="rounded-circle foto" style="background-image: url('/assets/tooks.jpg')"></div>
                    </button>
                  </div>

                  <div class="col-sm-9" style="border-left:3px solid #000000;">
                    <div>
                      <h6 style="padding-top:3.2vh;"><strong>Nome:</strong> Tooks</h6>
                      <h6><strong>Categoria:</strong> Strategia</h6>
                      <h6><strong>Prezzo:</strong> 50,00€ &ensp;-&ensp;<strong> <%= link_to 'Aggiungi al Carrello', carrello_index_path %></strong></h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-5"></div>
            <div class="col-md-6">
              <div class="gioco">
                <div class="row">
                <!-- Button trigger modal -->
                  <div class="col-sm-3">
                    <button type="button" class="btn" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-color:#112233;">
                      <div class="rounded-circle foto" style="background-image: url('/assets/tooks.jpg')"></div>
                    </button>
                  </div>

                  <div class="col-sm-9" style="border-left:3px solid #000000;">
                    <div>
                      <h6 style="padding-top:3.2vh;"><strong>Nome:</strong> Tooks</h6>
                      <h6><strong>Categoria:</strong> Strategia</h6>
                      <h6><strong>Prezzo:</strong> 50,00€ &ensp;-&ensp;<strong> <%= link_to 'Aggiungi al Carrello', carrello_index_path %></strong></h6>
                    </div>
                  </div>
                </div>
              </div>
            </div><div class="col-md-5"></div>
            <div class="col-md-6">
              <div class="gioco">
                <div class="row">
                <!-- Button trigger modal -->
                  <div class="col-sm-3">
                    <button type="button" class="btn" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-color:#112233;">
                      <div class="rounded-circle foto" style="background-image: url('/assets/tooks.jpg')"></div>
                    </button>
                  </div>

                  <div class="col-sm-9" style="border-left:3px solid #000000;">
                    <div>
                      <h6 style="padding-top:3.2vh;"><strong>Nome:</strong> Tooks</h6>
                      <h6><strong>Categoria:</strong> Strategia</h6>
                      <h6><strong>Prezzo:</strong> 50,00€ &ensp;-&ensp;<strong> <%= link_to 'Aggiungi al Carrello', carrello_index_path %></strong></h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5"></div>
            <div class="col-md-6">
              <div class="gioco">
                <div class="row">
                <!-- Button trigger modal -->
                  <div class="col-sm-3">
                    <button type="button" class="btn" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-color:#112233;">
                      <div class="rounded-circle foto" style="background-image: url('/assets/tooks.jpg')"></div>
                    </button>
                  </div>

                  <div class="col-sm-9" style="border-left:3px solid #000000;">
                    <div>
                      <h6 style="padding-top:3.2vh;"><strong>Nome:</strong> Tooks</h6>
                      <h6><strong>Categoria:</strong> Strategia</h6>
                      <h6><strong>Prezzo:</strong> 50,00€ &ensp;-&ensp;<strong> <%= link_to 'Aggiungi al Carrello', carrello_index_path %></strong></h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/assets/csgo.jpg');">
            <div class="row">
              <div class="col-md-5">
                <div class="titolo" style="margin-top:180px;"><h1>Più Venduti</h1></div>
              </div>
              <div class="col-md-6">
                <div class="gioco" style="margin-top:13.5vh;">
                  <div class="row">
                  <!-- Button trigger modal -->
                    <div class="col-sm-3">
                      <button type="button" class="btn" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-color:#112233;">
                        <div class="rounded-circle foto" style="background-image: url('/assets/tooks.jpg')"></div>
                      </button>
                    </div>

                    <div class="col-sm-9" style="border-left:3px solid #000000;">
                      <div>
                        <h6 style="padding-top:3.2vh;"><strong>Nome:</strong> Tooks</h6>
                        <h6><strong>Categoria:</strong> Strategia</h6>
                        <h6><strong>Prezzo:</strong> 50,00€ &ensp;-&ensp;<strong> <%= link_to 'Aggiungi al Carrello', carrello_index_path %></strong></h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-5"></div>
              <div class="col-md-6">
                <div class="gioco">
                  <div class="row">
                  <!-- Button trigger modal -->
                    <div class="col-sm-3">
                      <button type="button" class="btn" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-color:#112233;">
                        <div class="rounded-circle foto" style="background-image: url('/assets/tooks.jpg')"></div>
                      </button>
                    </div>

                    <div class="col-sm-9" style="border-left:3px solid #000000;">
                      <div>
                        <h6 style="padding-top:3.2vh;"><strong>Nome:</strong> Tooks</h6>
                        <h6><strong>Categoria:</strong> Strategia</h6>
                        <h6><strong>Prezzo:</strong> 50,00€ &ensp;-&ensp;<strong> <%= link_to 'Aggiungi al Carrello', carrello_index_path %></strong></h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div><div class="col-md-5"></div>
              <div class="col-md-6">
                <div class="gioco">
                  <div class="row">
                  <!-- Button trigger modal -->
                    <div class="col-sm-3">
                      <button type="button" class="btn" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-color:#112233;">
                        <div class="rounded-circle foto" style="background-image: url('/assets/tooks.jpg')"></div>
                      </button>
                    </div>

                    <div class="col-sm-9" style="border-left:3px solid #000000;">
                      <div>
                        <h6 style="padding-top:3.2vh;"><strong>Nome:</strong> Tooks</h6>
                        <h6><strong>Categoria:</strong> Strategia</h6>
                        <h6><strong>Prezzo:</strong> 50,00€ &ensp;-&ensp;<strong> <%= link_to 'Aggiungi al Carrello', carrello_index_path %></strong></h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-5"></div>
              <div class="col-md-6">
                <div class="gioco">
                  <div class="row">
                  <!-- Button trigger modal -->
                    <div class="col-sm-3">
                      <button type="button" class="btn" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-color:#112233;">
                        <div class="rounded-circle foto" style="background-image: url('/assets/tooks.jpg')"></div>
                      </button>
                    </div>

                    <div class="col-sm-9" style="border-left:3px solid #000000;">
                      <div>
                        <h6 style="padding-top:3.2vh;"><strong>Nome:</strong> Tooks</h6>
                        <h6><strong>Categoria:</strong> Strategia</h6>
                        <h6><strong>Prezzo:</strong> 50,00€ &ensp;-&ensp;<strong> <%= link_to 'Aggiungi al Carrello', carrello_index_path %></strong></h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/assets/fifa19_2.jpg');">
          <div class="row">
            <div class="col-md-5">
              <div class="titolo" style="margin-top:180px;"><h1>Consigliati</h1></div>
            </div>
            <div class="col-md-6">
              <div class="gioco" style="margin-top:13.5vh;">
                <div class="row">
                <!-- Button trigger modal -->
                  <div class="col-sm-3">
                    <button type="button" class="btn" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-color:#112233;">
                      <div class="rounded-circle foto" style="background-image: url('/assets/tooks.jpg')"></div>
                    </button>
                  </div>

                  <div class="col-sm-9" style="border-left:3px solid #000000;">
                    <div>
                      <h6 style="padding-top:3.2vh;"><strong>Nome:</strong> Tooks</h6>
                      <h6><strong>Categoria:</strong> Strategia</h6>
                      <h6><strong>Prezzo:</strong> 50,00€ &ensp;-&ensp;<strong> <%= link_to 'Aggiungi al Carrello', carrello_index_path %></strong></h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5"></div>
            <div class="col-md-6">
              <div class="gioco">
                <div class="row">
                <!-- Button trigger modal -->
                  <div class="col-sm-3">
                    <button type="button" class="btn" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-color:#112233;">
                      <div class="rounded-circle foto" style="background-image: url('/assets/tooks.jpg')"></div>
                    </button>
                  </div>

                  <div class="col-sm-9" style="border-left:3px solid #000000;">
                    <div>
                      <h6 style="padding-top:3.2vh;"><strong>Nome:</strong> Tooks</h6>
                      <h6><strong>Categoria:</strong> Strategia</h6>
                      <h6><strong>Prezzo:</strong> 50,00€ &ensp;-&ensp;<strong> <%= link_to 'Aggiungi al Carrello', carrello_index_path %></strong></h6>
                    </div>
                  </div>
                </div>
              </div>
            </div><div class="col-md-5"></div>
            <div class="col-md-6">
              <div class="gioco">
                <div class="row">
                <!-- Button trigger modal -->
                  <div class="col-sm-3">
                    <button type="button" class="btn" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-color:#112233;">
                      <div class="rounded-circle foto" style="background-image: url('/assets/tooks.jpg')"></div>
                    </button>
                  </div>

                  <div class="col-sm-9" style="border-left:3px solid #000000;">
                    <div>
                      <h6 style="padding-top:3.2vh;"><strong>Nome:</strong> Tooks</h6>
                      <h6><strong>Categoria:</strong> Strategia</h6>
                      <h6><strong>Prezzo:</strong> 50,00€ &ensp;-&ensp;<strong> <%= link_to 'Aggiungi al Carrello', carrello_index_path %></strong></h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5"></div>
            <div class="col-md-6">
              <div class="gioco">
                <div class="row">
                <!-- Button trigger modal -->
                  <div class="col-sm-3">
                    <button type="button" class="btn" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-color:#112233;">
                        <div class="rounded-circle foto" style="background-image: url('/assets/tooks.jpg')"></div>
                    </button>
                  </div>

                  <div class="col-sm-9" style="border-left:3px solid #000000;">
                    <div>
                      <h6 style="padding-top:3.2vh;"><strong>Nome:</strong> Tooks</h6>
                      <h6><strong>Categoria:</strong> Strategia</h6>
                      <h6><strong>Prezzo:</strong> 50,00€ &ensp;-&ensp;<strong> <%= link_to 'Aggiungi al Carrello', carrello_index_path %></strong></h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
