<%= form_with model: @utent, local: true do |form| %>

  <% if @utent.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@utent.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @utent.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row with_zero_margin">

    <div class="col-sm-4">
      <p>
        <%= form.label :email %><br>
        <%= form.text_field :email %>
      </p>
    </div>

    <div class="col-sm-4">
      <p>
        <%= form.label :password %><br>
        <%= form.text_area :password %>
      </p>
    </div>
      <p>
        <%= form.submit %>
      </p>
    <% end %>
  </div>
